#header-admin .navbar-default,
#header-admin .navbar-default .navbar-nav > .open > a{
    background-color: #1E3685;
    color: #ffffff;
}

#header-admin .navbar-default p{
    padding-top: 15px;
    padding-bottom: 15px;
    color: #ffffff;
    margin: 0 5px;
}
#header-admin .navbar-default a{
    color: #ffffff;
}
#header-admin .navbar-header img{
    margin-top: -10px;
}
#header-admin .dropdown-menu a
{
    color: #0263b2;
}
#header-admin .dropdown-menu a:hover{
    color: #ffffff;
}
#header-admin .dropdown-menu{
    font-size: 14px;
    min-width: 200px;
}
#header-admin .navbar{
    margin-bottom: 5px;
    border-radius: 0;
    border: solid 1px #1E3685;
}


/*// Контент //*/

#content-admin{
    /*margin-bottom: 100px;*/
}
#content-admin .nav-pills > li > a{
    border-radius: 0;
}
#content-admin .navbar-form{
    padding-left: 0;
}
#content-admin .logo-admin img{
    margin-top: 10px;
    margin-bottom: 10px;
}
#content-admin ul{
    font-size: 14px;
}

#content-admin table{
    font-size: 14px;
    margin-top: 10px;
}
#content-admin table td:first-child,
#content-admin table td:first-child{
    width: 30px;
}
#content-admin table span{
    font-size: 10px;
    color: #428bca;
    display: block;
}
#content-admin table button,
#content-admin table .btn-a
{
    padding: 3px 6px;
}

#content-admin .form-admin-edit .btn,
#content-admin .table .btn
{
    margin-bottom: 5px;
}

.btn-success-i{
    color: #0db334;
}
.btn-danger-i{
    color: #D9534F;
}

#content-admin .form-admin-edit .btn i{
    margin-right: 5px;
}

#content-admin label{
    color: #337ab7;
    font-size: 14px;
}

#content-admin h3 {
    /*text-transform: uppercase;*/
    color: #ffffff;
    margin-top: 10px;
    font-size: 18px;
}

#content-admin .form-admin-edit{
    margin-bottom: 100px;
}
.content-admin-left{

    margin-bottom: 115px;
}

.header-admin-edit{
    background-color: #0263B2;
    position: relative;
    margin-bottom: 5px;
}

.header-admin-edit i{
    /*font-size: 22px;*/
    margin-right: 5px;
}
#content-admin .form-group-edit-left{
    padding-left: 0;
}
#content-admin .form-group-edit-right{
    padding-right: 0;
}
#content-admin .navbar-form .form-group{
    margin-top: 5px;
}
#content-admin .navbar-form .form-group .form-control{
    width: 200px;
}
#content-admin .navbar-form{
    margin-top: 3px;
}
#content-admin .navbar-form .btn{
    margin-top: 5px;
}
#content-admin .label-btn{
    padding: 0 4px;
    font-size: 10px;
    margin-top: -5px;
    font-weight:700;
    cursor: pointer;
    color: #0db334;
    margin-left: 5px;
}
#content-admin .img-admin-slider{
    max-width: 200px;
}







/*Вход на сайт*/
#auth{
    height: 100%;
    width: 100%;
    position: absolute;
    background-image: url("../img/auth/bg.jpg");
    background-size: cover;
    background-position: center center;
    left: 0;
    top: 0;
}
#auth .auth{
    margin-left: auto;
    margin-right: auto;
    max-width: 500px;
    margin-top: 20%;

    box-shadow: 0 0 16px rgba(0, 0, 0, .5);
    transition: all .5s;
}

#auth .auth .btn{
    /*float: right;*/
    margin-right: 5px;
    margin-bottom: 5px;
}

#auth .panel{
    border: none;
}

#auth .btn-label {
    position: relative;
    left: -12px;
    display: inline-block;
    padding: 6px 12px;
    background: rgba(0,0,0,0.15);
    border-radius: 3px 0 0 3px;
}


#auth .btn-labeled {
    padding-top: 0;
    padding-bottom: 0;
}

#auth .input-group {
    margin-bottom:10px;
}

#footer-bottom{
    height: auto;
    background-color: #e6ebec;
    padding-top: 20px;
    padding-bottom: 30px;
    border-bottom:1px solid #000000;
    border-top:1px solid #000000;
}
#footer-bottom div {
    width: 530px;
}
#footer-bottom img{
    float: left;
    margin-top: 20px;
}
#footer-bottom p{
    color: #000000;
    margin-top: 25px;
    margin-left:20px;
    float: left;
}

#header-admin .dropdown-menu a:hover {
    color: #ffffff;
    background-color: #0263B2;;
}





@media only screen and (max-width : 480px) {

}
@media only screen and (max-width : 480px) {

}
@media only screen and (max-width : 1200px) {

}
@media only screen and (max-width : 992px) {

}
@media only screen and (max-width : 768px) {

}

@media only screen and (max-width : 480px) {

}